
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
        <p>
            <label for="nom">Nom :</label><br />
            <input type="text" class="form-control" name="nom" id="nom" pattern="[a-zA-ZáàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._\s-]{1,}" 
            title="Votre nom ne doit contenir que des lettres et au moins un caractère" required [appError]="validationNom ()" [(ngModel)]="nom" [formControl]="reactiveForm" formControlName="nom"/>
       
            <br />
            <label for="prenom">Prénom :</label><br />
            <input type="text" class="form-control" name="prenom" id="prenom" pattern="[a-zA-ZáàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._\s-]{1,}" 
            title="Votre prénom ne doit contenir que des lettres et au moins un caractère" required [appError]="validationPrenom ()" [(ngModel)]="prenom" [formControl]="reactiveForm" formControlName="prenom"/>
       
            <br />
            <label for="adresse">Adresse :</label><br />
            <input type="text" class="form-control" name="adresse" id="adresse" pattern="[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ,._\s-]{1,}" 
            title="Votre adresse ne doit contenir que des chiffres et lettres et au moins un caractère" required [appError]="validationAdresse ()" [(ngModel)]="adresse" [formControl]="reactiveForm" formControlName="adresse"/>
       
            <br />
            <label for="ville">Ville :</label><br />
            <input type="text" class="form-control" name="ville" id="ville" pattern="[a-zA-ZáàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._\s-]{1,}" 
            title="Votre ville ne doit contenir que des lettres et au moins un caractère" required [appError]="validationVille ()" [(ngModel)]="ville" [formControl]="reactiveForm" formControlName="ville"/>
       
            <br />
            <label for="cp">Code postal :</label><br />
            <input type="text" class="form-control" name="cp" id="cp" pattern="^(([0-8][0-9])|(9[0-5])|(2[ab]))[0-9]{3}$"  
            title="Votre code postal ne doit contenir que des chiffres et faire 4 ou 5 caractères" required [appError]="validationCP ()" [(ngModel)]="cp" [formControl]="reactiveForm" formControlName="cp"/>
            
            <br />
            <label for="tel">Téléphone :</label><br />
            <input type="text" class="form-control" name="tel" id="tel" pattern = "((?:\+|00)[17](?: |\-)?|(?:\+|00)[1-9]\d{0,2}(?: |\-)?|(?:\+|00)1\-\d{3}(?: |\-)?)?(0\d|\([0-9]{3}\)|[1-9]{0,3})(?:((?: |\-)[0-9]{2}){4}|((?:[0-9]{2}){4})|((?: |\-)[0-9]{3}(?: |\-)[0-9]{4})|([0-9]{7}))" 
            title="Votre numéro de téléphone ne doit contenir que des chiffres et faire 10 caractères" [appError]="validationTel ()" [(ngModel)]="tel" [formControl]="reactiveForm" formControlName="tel"/>
       
            <br />
            <label for="email">Email :</label><br />
            <input type="text" class="form-control" name="email" id="email" pattern = "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" 
            title="Votre adresse mail doit être au bon format" ngModel required [appError]="validationEmail ()" [(ngModel)]="email" [formControl]="reactiveForm" formControlName="email"/>
       
            <br />
            <label for="civilite">Civilité</label><br />
            <select name="civilite" id="civilite">
               <option value="masculin">Masculin</option>
               <option value="feminin">Feminin</option>
               <option value="autre">Autre</option>
            </select>
       
            <br />
            <label for="password">Mot de passe :</label><br />
            <input type="password" class="form-control" name="password" id="password"  ngModel required  [formControl]="reactiveForm" formControlName="password"/>
       
            <br />
            <label for="login">Identifiant :</label><br />
            <input type="text" class="form-control" name="login" id="login"  ngModel required  [formControl]="reactiveForm" formControlName="login"/>
            
            <br />
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Envoi</button>

            <br />
            {{prenom}} {{nom | uppercase}} : {{email}} <br />
            {{adresse}} {{cp}} {{ville}} <br />
            {{tel | phoneNumber}}
        </p>
    </form>
